.movie-info-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.genre {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.date-rotate {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f65261;
}

.description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.logo-text {
  margin-left: 95px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #f65261;
}

.movie-info-rating {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 50px;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.rating-text {
  padding-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.movie-img {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
}
