@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

.header {
  height: 500px;
  background: url("../../assets/images/movies.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-text {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 118px;
  top: 35px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #f65261;

  &__bold {
    font-weight: 700;
  }
}

.header-add-button {
  position: sticky;
  left: 1150px;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 46px;
  background: rgba(96, 96, 96, 0.68);
  border-radius: 4px;

  &__caption {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #f65261;
  }
  &:hover {
    cursor: pointer;
    background: rgba(96, 96, 96, 0.9);
  }
}
